<!DOCTYPE html>
<html ng-app="">
<head>
<link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body ng-controller="itemController">
<div class="container">

<h1>My Expenditure</h1>

<hr/>

<button class="btn btn-primary" ng-click="editUser('new')">
<span class="glyphicon glyphicon-plus"></span>  Add New Expenditure Item
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Shop Name</th>
      <th>Item</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items">
      <td>{{ item.iDate }}</td>
      <td>{{ item.iShopName }}</td>
      <td>{{ item.iItem }}</td>
      <td>{{ item.iQty }}</td>
      <td>${{ item.iPrice }}</td>
      <td>
        <button class="btn btn-success" ng-click="editItem(item.id)">
          <span class="glyphicon glyphicon-pencil"></span>  Edit
        </button>
        <button class="btn btn-danger" ng-click="deleteItem(item.id)">
          <span class="glyphicon glyphicon-trash"></span>  Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<h3 ng-show="edit">Add New Item Purchased:</h3>
<h3 ng-hide="edit">Edit Item Purchased:</h3>

<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label">Purchase Date:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="iDate" ng-disabled="!edit" placeholder="Date of Purchase">
    </div>
  </div> 
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Shop Name:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="iShop" ng-disabled="!edit" placeholder="Name of Shop">
    </div>
  </div> 
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Item Purchased:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="iItem" ng-disabled="!edit" placeholder="Item Purchased">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Quantity Purchased:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="iQty" ng-disabled="!edit" placeholder="Quantity Purchased">
    </div>
  </div> 
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Unit Price:</label>
    <div class="col-sm-10">
    <input type="text" ng-model="iPrice" ng-disabled="!edit" placeholder="Price of Individual Item">
    </div>
  </div> 
  
</form>

<hr>
<button class="btn btn-success" ng-disabled="error || incomplete" ng-click="save()">
<span class="glyphicon glyphicon-save"></span>  Save Changes
</button>

</div>

<script>
  function itemController($scope) {
    $scope.fName = '';
    $scope.lName = '';
    $scope.passw1 = '';
    $scope.passw2 = '';
    
    //We can replace this with a Firebase url later on. 
    $scope.items = [
        {id:1, iDate:'2 Jan 2015'  , iShopName:"Starbucks", iItem:"Cafe Latte", iQty:1, iPrice:4.30 },
        {id:2, iDate:'2 Jan 2015'  , iShopName:"Burger King", iItem:"BK Fish'N Crisp", iQty:1, iPrice:2.00 },
        {id:3, iDate:'3 Jan 2015'  , iShopName:"McDonalds", iItem:"Ice-cream", iQty:1, iPrice:0.80 },
        {id:4, iDate:'4 Jan 2015'  , iShopName:"McDonalds", iItem:"Apple Pie", iQty:2, iPrice:1.00 },
        {id:5, iDate:'26 Jan 2015'  , iShopName:"Tea Party", iItem:"Pasta", iQty:2, iPrice:4.50 },
    ];
    
    $scope.edit = true;
    $scope.error = false;
    $scope.incomplete = false;  
    
    
    $scope.editItem = function(id) {
        $scope.currentId = id;
        if (id == 'new') {
            $scope.edit = true;
            $scope.incomplete = true;
            $scope.fName = '';
            $scope.lName = '';
            console.log("new user.");
        } else {
            $scope.edit = true;
            $scope.fName = $scope.users[id-1].fName;
            $scope.lName = $scope.users[id-1].lName; 
            console.log("existing user.");
        }
    };

    $scope.$watch('iDate',function() {$scope.test();});
    $scope.$watch('iShopName',function() {$scope.test();});
    $scope.$watch('iItem', function() {$scope.test();});
    $scope.$watch('iQty', function() {$scope.test();});
    $scope.$watch('iPrice', function() {$scope.test();});
    $scope.test = function() {
        //if ($scope.passw1 !== $scope.passw2) {
        //    $scope.error = true;
        //} else {
        //    $scope.error = false;
        //}
        $scope.incomplete = false;
        if ($scope.edit && (!$scope.iDate.length || !$scope.iShopName.length|| !$scope.iItem.length || !$scope.iQty.length || !$scope.iPrice.length)) {
            $scope.incomplete = true;
        }
    };
    $scope.save = function(){
      //Add new if no index is passed in.
      if($scope.currentId=='new'){
        //Using the array length as the next index while prototyping. 
        $scope.items.push({id:$scope.items.length+1, iDate:$scope.iDate, iShopName:$scope.iShopName, iItem:$scope.iItem, iQty:$scope.iQty, iPrice:$scope.iPrice });
      }
      else{
        $scope.items[$scope.currentId-1].iDate = $scope.iDate;
        $scope.items[$scope.currentId-1].iShopName = $scope.iShopName;
        $scope.items[$scope.currentId-1].iItem = $scope.iItem;
        $scope.items[$scope.currentId-1].iQty = $scope.iQty;
        $scope.items[$scope.currentId-1].iPrice = $scope.iPrice;
      }
    };
    
    $scope.deleteItem = function(index){
      $scope.items.splice(index-1, 1);
    }
    
    }
  
</script>
</body>
</html>













